// VARIABLES
$duration: 600ms;
$offset: 4px;

.react-autotip-hidden {
  opacity: 0;
}


// TOP //
.react-autotip-active-top {
  animation-name: react-autotip-top-kf;
  animation-duration: $duration;
}


@keyframes react-autotip-top-kf {
  0%    {
    opacity: 0;
    margin-top: $offset;
  }
  58%    {
    opacity: 0;
    margin-top: $offset;
  }
  100%   {
    opacity: 1;
    margin-top: 0px;
  }
}
// ------------------------ //


// BOTTOM //
.react-autotip-active-bottom {
  animation-name: react-autotip-bottom-kf;
  animation-duration: $duration;
}


@keyframes react-autotip-bottom-kf {
  0%    {
    opacity: 0;
    margin-top: -$offset;
  }
  58%    {
    opacity: 0;
    margin-top: -$offset;
  }
  100%   {
    opacity: 1;
    margin-top: 0px;
  }
}
// ------------------------ //


// LEFT //
.react-autotip-active-left {
  animation-name: react-autotip-left-kf;
  animation-duration: $duration;
}


@keyframes react-autotip-left-kf {
  0%    {
    opacity: 0;
    margin-left: $offset;
  }
  58%    {
    opacity: 0;
    margin-left: $offset;
  }
  100%   {
    opacity: 1;
    margin-left: 0px;
  }
}
// ------------------------ //


// RIGHT //
.react-autotip-active-right {
  animation-name: react-autotip-right-kf;
  animation-duration: $duration;
}


@keyframes react-autotip-right-kf {
  0%    {
    opacity: 0;
    margin-left: -$offset;
  }
  58%    {
    opacity: 0;
    margin-left: -$offset;
  }
  100%   {
    opacity: 1;
    margin-left: 0px;
  }
}
// ------------------------ //
