.react-autotip-hidden {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.react-autotip-active {
  opacity: 1;
}

@keyframes in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
